---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <img src="/CVphoto.webp" width="100%" height="550px" />
  <div>
    <p class="center-icon">
      <a href="/MEY_TRISTAN_CV.pdf" download>
        <i class="fa-solid fa-download centered-icon"></i>
      </a>
    </p>
  </div>
</BaseLayout>
